@font-face {
    font-family: RadioCanada;
    src: url(RadioCanadafont.ttf);
}

.header {
    color: #FF0000;
    font-size: 20px;
    font-weight: bold;
    font-family: RadioCanada;
}

label {
    width: 100px;
    height: 100px;
    position: relative;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }

.checkbox-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.checkbox-container div input {
    
}